@import 'cars_common.css';
@import 'cars_additional.css';

#content_wrap{
	background:url(../images/backgrounds/sub_page_bg.jpg) 5px 65px no-repeat;
}
#main_content{
	/*height:648px;*/
}
#page_content{
	float:left;
	display: inline;
	margin: -25px 0 0 37px;
/*	_margin-left:15px; */
	width:923px;
	height:486px;/**/
	background: url(../images/backgrounds/sub_content_bg.png) left top no-repeat;
}
#crossDomainSWF {
	width: 1px;
	height: 1px;
	position: absolute;
	bottom: 0px;
	right: 0px;
}
/*-------------------------------------------------------*/
/*-----------------(\__ Page Headers __/)----------------*/
/*-------------------------------------------------------*/
#page_header{
	float:left;
	width:923px;
	height:42px;
	padding-top:13px;
	background: url(../images/backgrounds/sub_header_bg.png) left top no-repeat;
}
#page_header h1{
	margin:0em auto;
	text-indent:-9999em;
	height:34px;
	font-size:1em;
}
#community h1{
	width:200px;
	background: url(../images/headers/community.png) left top no-repeat;
}
#blog h1{
	width:304px;
	background: url(../images/headers/crews-news-blog.png) left top no-repeat;
}
#downloads h1{
	width:195px;
	background: url(../images/headers/downloads.png) left top no-repeat;
}
#screenshots h1{
	width:224px;
	background: url(../images/headers/screenshots.png) left top no-repeat;
}
#fan_art h1,#submit_fan_art h1{
	width:138px;
	background: url(../images/headers/fan-art.png) left top no-repeat;
}
#membership h1,#purchase h1{
	width:535px;
	background: url(../images/headers/membership.png) left top no-repeat;
}
#manage_account h1{
	width:298px;
	background: url(../images/headers/manage-account.png) left top no-repeat;
}
#cancel_membership h1{
	width:346px;
	background: url(../images/headers/cancel-membership.png) left top no-repeat;
}
#contests h1{
	width:164px;
	background: url(../images/headers/contests.png) left top no-repeat;
}
#about_game h1{
	width:452px;
	background: url(../images/headers/important-message.png) left top no-repeat;
}
#help h1{
	width:85px;
	background: url(../images/headers/help.png) left top no-repeat;
}
#tips_tricks h1, #mini_games h1,.tips-tricks-detail h1{
	width:231px;
	background: url(../images/headers/tips-tricks.png) left top no-repeat;
}
#faq h1{
	width:505px;
	background: url(../images/headers/frequently-asked-questions.png) left top no-repeat;
}
#contact_us h1,#general_questions h1, #technical_questions h1, #billing_membership h1, #comments h1, #fan_mail h1{
	width:196px;
	background: url(../images/headers/contact-us.png) left top no-repeat;
}
#report_a_bug h1{
	width:242px;
	background: url(../images/headers/report-a-bug.png) left top no-repeat;
}
#thank_you h1{
	width:188px;
	background: url(../images/headers/thank-you.png) left top no-repeat;
}
#player_safety h1{
	width:249px;
	background: url(../images/headers/player-safety.png) left top no-repeat;
}
#guest_services h1{
	width:310px;
	background: url(../images/headers/guest-services.png) left top no-repeat;
}
#parents h1{
	width:160px;
	background: url(../images/headers/parents.png) left top no-repeat;
}
#sitemap h1{
	width:150px;
	background: url(../images/headers/sitemap.png) left top no-repeat;
}

#race_codes h1{
	width:311px;
	background: url(../images/headers/race-codes.png) left top no-repeat;
}

#welcome h1{
	width:395px;
	background: url(../images/headers/welcome.png) left top no-repeat;
}
#welcome_sponsored h1{
	width:492px;
	background: url(../images/headers/congratulations-welcome.png) left top no-repeat;
}
#cant_connect h1 {
	width:269px;
	background: url(../images/headers/cant-connect.png) left top no-repeat;
}
/* end headers */

/*--------------------------------------------*/
/*------------(\__ About Page __/)------------*/
/*--------------------------------------------*/

#about_game #page_content{
	height:561px;
	background: url(../images/backgrounds/about_page_bg.png) no-repeat;
}
#about_game #col_left{
	float:left;
	width:380px;
	height:315px;
	padding-left:13px;
}
#about_game #col_right{
	float:left;
	width:500px;
}
#about_game #col_right h3{
	margin-bottom:10px;
}
.play_now{
	display:block;
	width:209px;
	height:49px;
	text-indent:-9999em;
	margin:25px auto;
	background: url(../images/buttons/play-now.gif) left top no-repeat;
}
.play_now:hover{
	background-position: 0 -49px;
}
#about_game #sub_content{
	clear:both;
	float:left;
	padding-left:13px;
	width:100%;
}
#about_game .mod{
	float:left;
	width:210px;
	padding:0 8px 0 7px;
	text-align:center;
}
#about_game .mod h4{
	margin-top: 4px;
	width:205px;
	text-align:center;
	color:#EF5319;
}
#about_game .mod p{
	float:left;
	padding-top:4px;
	margin-top:4px;
	border-top:1px solid #1c1c1c;
	font-size:11px;
	text-align:left;
}

/* end about */
/*--------------------------------------------*/
/*----------(\__ Community Page __/)----------*/
/*--------------------------------------------*/
#community #content_wrap{
	background: url(../images/backgrounds/community_bg.jpg) no-repeat;
}

#community #page_content{
	background: url(../images/backgrounds/community-content-bg.png) left top no-repeat;
	height:558px;
}

#community #content{
	padding-top:2px;
	padding-left:7px;
}

#community #content .com-module {
	float: left;
	display: inline;
}

#community #content .com-module .com-moduleTitle {
	text-transform: uppercase;
	font-size: 16px;
	font-weight: bold;
	color: #EF5319;
	text-align: center;
	margin-top: 15px;
}

#community #content .com-profileContainer {
	width: 179px;
	height: 491px;
	background: url( ../img/msc/bg-community-closing-notice.jpg ) no-repeat;
}

#community #content .com-profileContainer .com-carContainer {
	width: 152px;
	height: 156px;
	margin: 13px auto 0px auto;
}

#community #content .com-profileContainer .com-profilePromo {
	width: 152px;
	height: 156px;
	margin: 14px auto 0px auto;
}

#community #content .com-profileContainer .com-promo-world-closing {
	text-align: center;
	font-weight: bold;
	height: 66px;
	padding-top: 125px;
	color: #FFFFFF;
}

#community #content .com-profileContainer .com-promo-world-closing h3 {
	margin-bottom: 10px;
}

#community #content .com-profileContainer .com-promo-world-closing a {
	color: #7e7d7d;
	text-decoration: underline;
}

#community #content .com-whatsNewContainer {
	width: 440px;
	height: 268px;
	background: url( ../images/backgrounds/bg-profile-whats-new.png ) no-repeat;
}

#community #content .com-whatsNewContainer .com-moduleTitleWhatsNew {
	text-indent: -9999em;
	overflow: hidden;
	margin: 0px;
	height: 40px;
}

#community #content .com-whatsNewContainer .read_more{
	display: block;
	width: 101px;
	height: 26px;
	margin: 5px 0px 0px 170px;
	overflow: hidden;
	background: url( ../images/buttons/read-more-26.gif );
}

#community #content .com-whatsNewContainer .read_more:hover{
	background-position: 0 -26px;
}

#community #content .com-pollContainer {
	width: 287px;
	height: 268px;
	background: url( ../images/backgrounds/bg-profile-poll.png ) no-repeat;
}

#community #content .com-pollContainer .com-poll {
	padding: 0px 20px;
	margin-top: 10px;
}

#community #content .com-pollContainer .com-poll .com-pollQuestion {
	padding-bottom: 21px;
	background: url( ../images/backgrounds/bg-horizontal-divider-250.gif ) center bottom no-repeat;
}

#community #content .com-pollContainer .com-poll .submit_btn {
	width:92px;
	height:26px;
	margin-left:77px;
	overflow:hidden;
	background: url( ../images/buttons/submit-26.gif ) left top no-repeat;
}

#community #content .com-pollContainer .com-poll .submit_btn:hover{
	background-position: 0px -26px;
}

#community #content .com-pollContainer .com-poll .submit_btn_disabled {
	width:92px;
	height:26px;
	margin-left:77px;
	overflow:hidden;
	background: url( ../images/buttons/submit-26.gif ) left top no-repeat;
	background-position: 0px -52px;
}

#community #content .com-downloadContainer {
	width: 244px;
	height: 225px;
	background: url( ../images/backgrounds/bg-profile-download.png ) no-repeat;
}

#community #content .com-downloadContainer .com-downloadLinkContainer {
	width: 188px;
	margin: 6px 0px 10px 28px;
}

#community #content .com-downloadContainer .com-downloadLinkContainer .com-downloadThumb {
	width: 84px;
	height: 63px;
	margin: 4px;
	float: left;
	display: inline;
	background: #8CA0AB;
	padding: 1px;
}

#community #content .com-raceCodesPromo img {
	margin-top: 3px;
}

#community .see_more{
	display:block;
	width:92px;
	height:26px;
	margin: 5px 0px 0px 48px;
	text-indent:-9999em;
	overflow:hidden;
	background: url(../images/buttons/see-more.gif) left top no-repeat;
}
#community .see_more:hover{
	background-position:0px -26px;
}



#community #paginator ul{
	width:60px;
}
#community .page_bullet{
	float:left;
	width:10px;
	height:10px;
	text-indent:-9999em;
	margin-right:8px;
	background: url(../images/ui/comm_selector.gif) left top no-repeat;
}
#community #paginator a.selected{
	background-position: right top;
}
.com-poll ul{
	clear:left;
	float:left;
	list-style:none;
	width:100%;
	margin:0;
	padding:0;
}
.com-poll li{
	clear:left;
	float:left;
	width:100%;
	margin-bottom:5px;
}
.com-poll .percent{
	float:left;
	width:30%;
}
.com-poll .bar_wrap{
	float:left;
	width:70%;
}
.com-poll .bar{
	float:left;
	height:11px;
	overflow:hidden;
	background:#EF5319;
}
#community #column-1 {
	background: url(../images/backgrounds/whatsnew-bg.png) left top no-repeat;
	width:290px;
	height:466px;
	float:left;
}
#community #column-2 {
	width:288px;
	height:250px;
	float:left;
	margin-left:10px;
}
#community #fan-art{
	padding:14px 54px 6px 54px;
	background: url(../images/backgrounds/fan-art-bg.png) left top no-repeat;
	height:210px;
	width:190px;
}
#community #fan-art span {
	display:block;
	text-transform:uppercase;
	font-size:16px;
	font-weight:bold;
	color:#f26621;
	margin-left:4px;
	margin-bottom:8px;
}
#community #featured-down{
	padding:40px 54px 6px 54px;
	background: url(../images/backgrounds/downloads-bg.png) left top no-repeat;
	height:186px;
	margin-top:6px;
	width:190px;
	position:relative;
}
#community #featured-down span {
	display:block;
	text-transform:uppercase;
	font-size:16px;
	font-weight:bold;
	color:#f26621;
	margin-left:11px;
	margin-bottom:8px;
	position:absolute;
	top:14px;
	left:24px;
}
#community #column-3 {
	width:288px;
	height:466px;
	float:left;
	margin-left:10px;
}
#community #poll{
	padding:40px 8px 6px 12px;
	background: url(../images/backgrounds/poll-bg.png) left top no-repeat;
	height:235px;
	position:relative;
}
#community #poll span {
	display:block;
	text-transform:uppercase;
	font-size:16px;
	font-weight:bold;
	color:#f26621;
	margin-left:11px;
	margin-bottom:8px;
	position:absolute;
	top:15px;
	left:90px;
}

#community .com-whatsNew {
	height: 165px;
	margin: 15px 20px 0px 20px;
	overflow: hidden;
	position: relative;
}

#community .com-whatsNew .whatsNewSlide {
	overflow: hidden;
	display: none;
	position: absolute;
		top: 0px;
		left: 0px;
	cursor: pointer;
}

#community .com-whatsNew .whatsNewSlide h3{
	width: 275px;
	color:#333333;
	text-align:left;
	font-size:16px;
	font-weight:bold;
}

#community .com-whatsNew .whatsNewSlide .whatsNewPreview{
	width: 260px;
	height: 100px;
	margin: 10px 0px 0px 0px;
	color: #000;
}

/**************** end community ****************/
/*___________________(\/)_____________________*/
/*---------------- Help Page -----------------*/

#help .help_mod{
	float:left;
	width:270px;
	height:190px;
	margin:10px 0;
	padding:0 15px;
	text-align:center;
	border-right:1px solid #838383;
}
#help .first_mod{
	margin-left:10px;
	_margin-left:5px;
}
#help .help_mod h2{
	margin-bottom:10px;
}
#help .help_mod p{
	text-align:left;
	height:45px;
	padding:10px 5px 0;
}
#help .go_btn{
	position:relative;
	display:block;
	width:63px;
	height:24px;
	text-indent:-9999em;
	margin:0em auto;
	overflow:hidden;
	background: url(../images/buttons/go-24.gif) left top no-repeat;
}
#help .go_btn:hover{
	background-position: 0 -24px;
}
#help .grad_seperator{
	clear:left;
	float:left;
	width:907px;
	height:6px;
	margin-left:8px;
	_margin-left:4px;
	overflow:hidden;
	background:url(../images/ui/hr-split.gif) left top repeat-x;
}
#help h3{
	float:left;
	padding:5px 0px 10px 0px;
	margin-left: 25px;
	width: 416px;
	text-align: center;
}
#help .q_list{
	clear:left;
	float:left;
	width:416px;
	margin-left:25px;
	_margin-left:12px;
	border-top:1px solid #838383;
}
#help .q_list li{
	border-bottom:1px solid #838383;
}
#help .q_list a{
	display:block;
	padding:10px 10px 0;
	height:40px;
	width:396px;
	color:#7f7f7f;
}
#help .q_list a:hover,#help .q_list a.selected{
	color:#1c1c1c;
	background: #ececec;
}
#help .help_answer_mod{
	float:left;
	width:401px;
	height:142px;
	margin-left:30px;
	padding:5px 15px 15px;
	background: url(../images/backgrounds/help-answer-bg.jpg) left top no-repeat;
	display: inline;
}
#help .help_answer_mod h4{
	float:left;
	width:401px;
	padding-bottom:5px;
	margin-bottom:5px;
	border-bottom:1px solid #959595;
	text-transform:uppercase;
}
.contact_mod{
	float:left;
	position:relative;
	width:377px;
	height:70px;
	padding:8px 20px 8px 8px;
	margin:20px 0 10px 30px;
	_margin:20px 15px 10px 15px;
	background: url(../images/backgrounds/contact_mod_bg.png) left top no-repeat;
}

.contactByPhone {
	margin: 5px auto;
}

.contact_mod img{
	float:left;
	margin-right:8px;
	padding-right:8px;
	border-right:1px solid #959595;
}
.contact_link{
	display:block;
	position:absolute;
	width:405px;
	height:86px;
	top:0;
	left:0;
	text-indent:-9999em;
	overflow:hidden;
	z-index:8888;
	background: url(../images/blank.gif) left top repeat;
}
.custom_file{
	position:relative;
	width:316px;
	height:31px;
}
#submit_fan_art .custom_file{
	float:left;
	width:340px;
	margin-bottom:10px;
}
.file{
	position:absolute;
	left:0;
/*
	width:225px!important;
	*width:316px!important;
	*height:31px;
*/
	z-index:20;

cursor: pointer;

	opacity: 0;
	filter:alpha(opacity=0);
	-moz-opacity:0;
	-khtml-opacity:0;

}
.file_mask{
	display:block;
	position:absolute;
	top:0;
	left:0;
	width:316px;
	height:31px;
	background: url(../images/backgrounds/input_bg_211x31.png) left top no-repeat;
	z-index:1;
}
#submit_fan_art .file_mask{
	width:340px;
	background: url(../images/backgrounds/input_bg_232.png) left top no-repeat;
}
.file_clone{
	float:left!important;
	display:block;
	width:196px!important;
	height:21px!important;
	padding:5px 5px 0 5px!important;
	background:none!important;
	border:none;
	*border:0px;
}
.browse_btn{
	float:right;
	display:block;
	width:92px;
	height:26px;
	margin-top:3px;
	background: url(../images/buttons/browse.gif) left top no-repeat;
}
#report_a_bug .col_right p{
	font-size: 10px;
}
/**************** end help ****************/
/*___________________(\/)_____________________*/
/*---------------- Parents -----------------*/
#parents #content{
	float:left;
	padding:10px 25px 20px;
}
#parents .login_btn{
	margin-bottom:10px;
}
#parents .content_items{
	margin-bottom: 10px;
	height: 200px;
}
#parents .content_items .content_item{
	float: left;
	width: 275px;
	height: 190px;
	margin-right: 10px;
	padding-right: 10px;
	border-right: 1px solid #CCCCCC;
}
#parents .content_items .no_border{
	border: 0px;
}
#parents .frequently_asked_questions{
	clear: both;
}
#parents .frequently_asked_questions h2{
	text-align: center;
}
#parents .frequently_asked_questions .questions{
	width: 405px;
	padding-top: 7px;
	float: left;
}
#parents .frequently_asked_questions .questions #paginator{
	margin-top: 10px;
}
#parents .frequently_asked_questions .answers{
	float: left;
	margin-left: 10px;
}
#parents .frequently_asked_questions .answers .dynamic_pod{
	background: none;
	height: 140px;
	width: 410px;
	margin-right: 20px;
}
#parents .frequently_asked_questions .answers .dynamic_pod a{
	color: #459BC9;
	text-decoration: underline;
}
#parents .frequently_asked_questions .answers .dynamic_pod a:hover{
	color: #EF5319
}
#parents .frequently_asked_questions .answers .dynamic_pod .copy_block{
	width: 425px;
	height: 135px;
}

#player_safety #column-1{
	width: 350px;
	margin-right: 50px;
	float: left;
}
#player_safety #column-2{
	width: 430px;
	padding: 10px 0px 0px 0px;
	float: left;
}
#player_safety #column-1 p{
	padding: 0px 7px;
}
#player_safety #column-1 .chat-bubble {
	margin-bottom: 5px;
}
#player_safety .chat-bubble-left{
	background: url(../images/backgrounds/chatbox_left.png) no-repeat;
	width: 366px;
	height: 99px;
}
#player_safety .chat-bubble-right{
	background: url(../images/backgrounds/chatbox_right.png) no-repeat;
	width: 366px;
	height: 99px;
}
#player_safety #column-1 .chat-bubble p{
	padding: 6px 7px;
}
#player_safety #content{
	padding:20px 30px 0;
}
#player_safety #content li{
	list-style:decimal;
}
#player_safety #paginator{
	position:absolute;
	height:35px;
	padding-top:8px;
	bottom:0px;
	left:30px;
	width:864px;
	border-top:1px solid #838383;
	z-index:7777;
}
/**************** end parents ****************/

#guest_services #content{
	float:left;
	padding:10px 30px 20px;
}
#page_content p{
	margin-bottom:10px;
	line-height:1.2em;
}
#page_content ol{
	margin-left:25px;
}
#paginator ul{
	width:110px;
	margin:0em auto;
}
#paginator li{
	float:left;
	list-style:none;
}
#page_content h2,#page_content h3{
	color:#ef5319;
	font-size:14px;
	/*font-size:16px;*/
	text-transform:uppercase;
}
#page_content p a{
	color:#459bc9;
	text-decoration:underline;
}
#page_content p a:hover{
	color:#ef5319;
}
#guest_services #page_content p{
	width:590px;
}
#guest_services #char_guido{
	position:absolute;
	right:-100px;
	bottom:-10px;
}
#guest_services #char_doc{
	position:absolute;
	right:-100px;
	bottom:-10px;
}
.content_col{
	float:left;
	width:405px;
	margin:0 15px;
}
.content_col #paginator{
	border:none;
}
.col_right{
	margin-right:0px!important;
}
.content_col h3{
	width:100%;
	border-bottom:1px solid #838383;
	padding:0 0 3px;
	margin-bottom:3px;
}
#content .content_col ul li{
	list-style:none;
}
.content_list{
	margin-top:3px;
	border-top:1px solid #9C9B9B;
	height:118px;
}
.content_list a{
	float:left;
	font-weight:bold;
	width:395px;
	color:#787878;
	padding:7px 0 7px 10px;
	border-bottom:1px solid #9c9b9b;
}
.content_list a:hover,.content_list .selected{
	position: relative;
	color:#459bc9;
	background:#f0f0f0;
}
.dynamic_pod{
	float:left;
	margin:10px 0;
	padding:15px;
	width:375px;
	height:175px;
	color:#505050;
	background:url(../images/backgrounds/col_pod_bg.png) left top no-repeat;
}

.dynamic_pod .copy_block{
	float:left;
	width:375px;
	height:175px;
	overflow:auto;
}

.dynamic_pod .copy_block li{
	margin-bottom:5px;
}
/* contact forms */
.contact_form #content{
	float:left;
	width:870px;
	padding:10px 25px 0 25px;
}
#report_a_bug #content{
	width:900px;
	padding:25px 0 0 15px;
}
.contact_form .content_col{
	margin:0;
}
.contact_form .col_left{
	width:410px;
}
.contact_form .col_right{
	width:450px;
	float:right;
}
/*.sec_help .character{
	position:absolute;
	left:-5px;
	bottom:15px;
}*/
.contact_form h2,.contact_form h3{
	border:none;
	margin-bottom:10px;
}
/*
.form_contact label,#submit_fan_art label{
	float:left;
	width:100px;
	padding:5px 10px 0 0;
	font-weight:bold;
	text-align:right;
}
.form_contact input,.form_contact textarea,#submit_fan_art input{
	float:left;
	width:320px;
	height:22px;
	padding:5px 10px;
	margin-bottom:15px;
	border:none!important;
	background:url(../images/backgrounds/input_bg_340.png) top left no-repeat;
}
.form_contact textarea{
	float:left;
	height:120px;
	background:url(../images/backgrounds/textarea_bg_340x130.png) top left no-repeat;
}

*/

.form_contact table tr td {
	padding: 10px 0px;
}

.form_contact .field_title {
	width: 100px;
	padding-right: 10px;
	font-weight: bold;
	text-align: right;
}

.form_contact input {
	width: 320px;
	height: 20px;
	padding: 5px 10px 13px 10px;
	border: none !important;
	background: url(../images/backgrounds/input_bg_340.png) top left no-repeat;
}

.form_contact .file {
	height: 30px;
}

.form_contact textarea{
	width: 320px;
	height: 220px;
	padding: 5px 10px;
	border: none !important;
	background: url(../images/backgrounds/textarea_bg_340x230.png) top left no-repeat;
	resize: none;
}

.form_contact .textarea_small{
	width: 320px;
	height: 120px;
	padding: 5px 10px;
	border: none !important;
	background: url(../images/backgrounds/textarea_bg_340x130.png) top left no-repeat;
}

.form_contact .submit_btn{
	cursor: pointer;
	float: right;
	margin: 10px 100px 0px 0px;
	display: inline;
}

#report_a_bug .form_contact .submit_btn{
	cursor: pointer;
	float: right;
	margin: -20px 100px 0px 0px;
	display: inline;
}

#report_a_bug .col_left{
	float:left;
	width:450px;
}
#report_a_bug .col_right{
	float:left;
	width:430px;
	padding-right:20px;
}
#report_a_bug .col_right label{
	clear:both;
	float:left;
	width:80px;
}
#report_a_bug .custom_file{
	margin: 0px 10px 17px 0px;
}

/*______________ Tips & Tricks ____________________*/
#tips_tricks #content{
	padding:10px 30px 20px;
}
#tips_tricks .dynamic_pod{
	margin-top:0;
	width:381px;
	height:334px;
	background:url(../images/backgrounds/tips_main_bg.gif);
}

.tips_wrap{
	float:left;
	width:445px;
	height:334px;
	display:block;
}
.tips_wrap div{
	float:left;
	display:block;
	position: relative;
	width:205px;
	height:38px;
	margin:0 5px 5px;
	text-indent:-9999em;
	overflow:hidden;
	background:url(../images/buttons/tips-tricks.gif) left top no-repeat;
	cursor: pointer;
}
#tips_your_car{
	background-position:0 0;
}
#tips_your_car.hover, #tips_your_car.selected{
	background-position:0 -38px;
}
#tips_stores{
	background-position:-205px 0;
}
#tips_stores.hover, #tips_stores.selected{
	background-position:-205px -38px;
}
#tips_your_yard{
	background-position:-410px 0px;
}
#tips_your_yard.hover, #tips_your_yard.selected{
	background-position:-410px -38px;
}
#tips_chat{
	background-position:-615px 0;
}
#tips_chat.hover, #tips_chat.selected{
	background-position:-615px -38px;
}
#tips_radiator_springs{
	background-position:-820px 0;
}
#tips_radiator_springs.hover, #tips_radiator_springs.selected{
	background-position:-820px -38px;
}
#tips_account{
	background-position:-1025px 0;
}
#tips_account.hover, #tips_account.selected{
	background-position:-1025px -38px;
}
#tips_other_zones{
	background-position:-1230px 0;
}
#tips_other_zones.hover, #tips_other_zones.selected{
	background-position:-1230px -38px;
}
#tips_race_codes{
	background-position:-1435px 0;
}
#tips_race_codes.hover, #tips_race_codes.selected{
	background-position:-1435px -38px;
}
#tips_racing{
	background-position:-1640px 0;
}
#tips_racing.hover, #tips_racing.selected{
	background-position:-1640px -38px;
}
#tips_other_cars{
	background-position:-1845px 0;
}
#tips_other_cars.hover, #tips_other_cars.selected{
	background-position:-1845px -38px;
}
#tips_mini_games{
	background-position:-2050px 0;
}
#tips_mini_games.hover, #tips_mini_games.selected{
	background-position:-2050px -38px;
}
.tips_header{
	float:left;
	width:381px;
	padding-bottom:8px;
	border-bottom:2px solid #959595;
}
.tips_header h3{
	float:left;
	width:331px;
}
#tips_tricks .tip_count{
	float:left;
	width:50px;
	font-weight:bold;
	margin:0;
	text-align:right;
}
.tips_list{
	float:left;
	margin-bottom:5px;
	height:280px;
}
.tips_list li{
	float:left;
	list-style:none;
	border-bottom:1px solid #959595;
	position: relative;
}
.tips_list a{
	float:left;
	width:370px;
	padding:8px 5px 0 6px;
	height:26px;
	color:#459BC9;
}
.tips_list li .video_link {
	position: absolute;
	top: 6px;
	right: 5px;
	cursor: pointer;
}
.tips_list a:hover{
	background-color:#f0f0f0;
}
.tips_list .video_icon{
	background: url(../images/icons/video_icon.gif) right center no-repeat;
}

/****************** end tips tricks *****************/
/*-------------- Manage Account Page ---------------*/
#manage_account #content,#cancel_membership #content, #purchase #content{
	float:left;
	margin-top:10px;
}
#manage_account .col_left,#cancel_membership .col_left, #purchase .col_left, #race_codes .col_left{
	float:left;
	display: inline;
	width:364px;
	padding:0 10px 0 20px;
	color:#1c1c1c;
}
#manage_account .col_left p{
	margin-bottom:5px;
}
#manage_account .col_left ul{
	margin-bottom:20px;
}
#manage_account .col_left li{
	padding-left:5px;
	line-height:1.3em;
}
#manage_account .col_right,#cancel_membership .col_right,#purchase .col_right, #race_codes .col_right{
	float:left;
	width:500px;
}
#manage_account .col_right h3{
	font-size:16px;
}
.account_mod,#cancel_membership .cancel_membership_mod{
	float:left;
/*	position:relative;*/
	width:464px;
	height:241px;
	padding:10px 20px 10px 15px;
	margin-bottom:10px;
	background: url(../images/backgrounds/mod_499x261.png) left top no-repeat;
}
.account_mod h3{
	float:left;
	width:280px;
}
.account_mod .flush_right,.forgot_login{
	float:right;
	color:#459BC9;
	font-size:11px;
	padding-top:3px;
	text-decoration:underline;
}
.col_right .gray_divider{
	float:left;
	width:464px;
	height:1px;
	overflow:hidden;
	margin:4px 0;
	background: #797979;
}
.account_mod fieldset,.cancel_membership_mod fieldset{
	clear:both;
}
.account_mod label,.cancel_membership_mod label{
	float:left;
	font-weight:bold;
	width:160px;
	text-align:right;
	padding:3px 10px 0 0;
}
.forgot_login{
	margin:10px 20px 10px 0;
}
.login_link {
	text-align: right;
	font-size: 11px;
	margin: 0px 20px 5px 0px;
}

.login_link a {
	color: #459BC9;
	text-decoration: underline;
}

.account_mod input,.cancel_membership_mod input{
	float:left;
	position:relative;
	display:block;
	width:258px;
	height:17px;
	padding:5px 10px 8px 10px;
	margin-bottom:20px;
	border:none;
	background: #FFFFFF url(../images/backgrounds/input_bg_278x31.gif) left top no-repeat;
}
input.required{
	color:#000;
}
.account_mod .login_btn,.cancel_membership_mod .login_btn{
	clear:both;
	margin:0em auto;
}
.cancel_membership_mod{
	float:left;
	width:468px;
	height:105px;
	padding:10px 15px 10px 15px;
	background: url(../images/backgrounds/mod_498x125.png) left top no-repeat;
}
.cancel_membership_mod p{
	float:left;
	width:220px;
}
.cancel_membership{
	float:right;
	display:block;
	width:234px;
	height:34px;
	margin-top:15px;
	overflow:hidden;
	text-indent: -9999em;
	background: url(../images/buttons/cancel-membership-36.gif) left top no-repeat;
}
.cancel_membership:hover{
	background-position: 0 -36px;
}
#cancel_membership .error_page .col_right,#cancel_membership .confirmation .col_right,
#paypal_error .error_page .col_right,#paypal_error .confirmation .col_right{
	width:485px;
	float: left;
	display: inline;
	margin-left: 430px;
}
#cancel_membership .error_page .col_right h3,
#paypal_error .error_page .col_right h3,
#cant_connect .error_page .col_right h3{
	font-size:16px;
}
.error_page .col_right p,.confirmation .col_right p{
	margin-top:50px;
	clear:left;
	float:left;
	width:455px;
}
#cancel_membership .error_page .cancel_membership{
	float:none!important;
	margin:15px auto 0;
}
#page_content.confirmation .col_right p,#page_content.confirmation .col_right ul{
	margin:0 0 25px!important;
}

#cant_connect .error_page .col_right {
	width:550px;
	float: left;
	display: inline;
	margin-left: 330px;
}

#cant_connect .error_page .col_right ol li {
	padding: 15px 10px;
	list-style-type: decimal;
}

#cant_connect .error_page .col_right .gray_divider {
	width: 550px;
}

/*------------------- Move character stuff here ------------------------*/
/*.sec_membership .character{
	position:absolute;
	bottom:0;
	left:-90px;
}
#char_luigi.character{
	bottom:-20px;
	left:-50px;
}*/
/*.error_page .character{
	position:absolute;
	bottom:30px;
	left:-30px;
}*/

/*--------------------------------------------*/
/*----------(\__ Flash Upgrade __/)-----------*/
/*--------------------------------------------*/
.upgrade-flash-player{
	display:block;
	width:180px;
	height:28px;
	overflow:hidden;
	text-indent: -9999em;
	background: url(../images/buttons/upgrade-flash-player.gif) left top no-repeat;
	margin-top: 10px;
}
.upgrade-flash-player:hover{
	background-position: 0 -28px;
}

#flash_upgrade .col_left {
	float:left;
	display: inline;
	width: 540px;
	margin-left: 20px;
	color:#1c1c1c;
	position: relative;
}

#flash_upgrade .col_left .DIMGFlashUpgradeInstructionsContainer {
	margin: 0px 20px 0px 0px;
}

#flash_upgrade .col_left .DIMGFlashUpgradeInstructionsContainer .flash-version-table{
	margin-top: 10px;
}

#flash_upgrade .col_left .DIMGFlashUpgradeInstructionsContainer .flash-version-table .flash-version {
	font-weight: bold;
	font-size: 14px;
}

#flash_upgrade .col_left .DIMGFlashUpgradeInstructionsContainer .DIMGFlashUpgradeAction {
	margin-top: 20px;
}

#flash_upgrade #DIMGFlashUpgrade {
	float: left;
	display: inline;
	width: 300px;
	height: 400px;
	outline: none;
	margin-left: 20px;
}

/* Welcome ---------------------------------------------- */
#welcome #content_wrap, #welcome_sponsored #content_wrap {
	background: url( ../images/backgrounds/bg-stadium.jpg ) center top no-repeat;
}

#welcome #content, #welcome_sponsored #content {
	width: 923px;
	padding: 5px 0px 0px 0px;
}

#welcome #content h2 {
	width: 882px;
	height: 26px;
	background: url( ../images/backgrounds/bg-welcome-title.gif );
	text-align: center;
	padding-top: 12px;
	margin: auto;
}

#welcome #content .welcome-button-container {
	width: 905px;
	height: 418px;
	background: url( ../images/backgrounds/bg-welcome-button-container.jpg );
	margin: auto;
	color: #FFF;
	text-align: center;
}

#welcome_sponsored #content .welcome-button-container .welcome-headlineText {
	font-size: 16px;
	line-height: 18px;
	margin: 0px;
	font-weight: bold;
}

#welcome_sponsored #content .welcome-button-container .welcome-headlineTextColored {
	color: #505050;
	padding-top: 10px;
}


#welcome_sponsored #content .welcome-button-container .welcome-legalText {
	width: 450px;
	margin: 20px auto 0px auto;
	color: #d6ac3c;
}

#welcome #content .welcome-button-container .welcome-promoText {
	font-size: 14px;
	line-height: 16px;
	padding-top: 110px;
	margin: 0px;
}

#welcome #page_content, #welcome_sponsored #page_content {
	background: url( ../images/backgrounds/sub_content_bg_black.png );
}

#welcome .welcome_play {
	display: block;
	width: 232px;
	height: 64px;
	text-indent: -9999em;
/*	margin: 46px auto 0px 343px;*/
	margin: 28px auto 0px auto;
	background: url( ../images/buttons/welcome-play.jpg ) left top no-repeat;
}

#welcome .welcome_play:hover {
	background-position: 0px -64px;
}

#welcome .welcome_inactive, #welcome .welcome_inactive:hover {
	background-position: 0px -128px;
}

#welcome_sponsored #ty-membershipPlan {
	height: 16px;
}

#welcome_sponsored .welcome_play {
	display: block;
	width: 228px;
	height: 64px;
	text-indent: -9999em;
	margin: 24px auto 0px auto;
	background: url( ../images/buttons/welcome-play-sponsored.jpg ) left top no-repeat;
}

#welcome_sponsored .welcome_play:hover {
	background-position: 0px -64px;
}

#welcome_sponsored .welcome_inactive, #welcome_sponsored .welcome_inactive:hover {
	background-position: 0px -128px;
}

#welcome_sponsored #content .welcome-button-container {
	width: 905px;
	height: 418px;
	background: url( ../images/backgrounds/bg-welcome-sponsored-container.jpg ) no-repeat;
	margin: auto;
	color: #FFF;
	text-align: center;
}

#welcome_sponsored #content .ty-membershipPlan {
	font-weight: bold;
}
/* ------------------------------------------------------ */

/* Blog ------------------------------------------------- */
.pageLink-prev, .pageLink-next {
	width: 47px;
	height: 18px;
	text-align: center;
	color: #fff;
	background: url(../images/buttons/page_btn_bg.gif) left top no-repeat;
	display: block;
}

.pageLink-prev {
	float: left;
}

.pageLink-next {
	float: right;
}

#blog .stretch_wrap ul {
	list-style-type: disc;
}

#blog .stretch_wrap ul li {
	list-style-type: disc;
	list-style-position: inside;
}

#blog .blog_nav {
	height: 22px;
	padding: 0px 10px;
	margin-bottom: 10px;
}

#blog .blog_nav li a {
	background: url(../images/buttons/bg-blogNav.gif) left top no-repeat;
	display: block;
	float: right;
	width: 104px;
	height: 22px;
	line-height: 22px;
	text-align: center;
	color: #000000;
}

#blog .blog_nav li.blog_nav_news a {
	float: left;
}

#blog .blog_nav li.blog_nav_notes a, #blog .blog_nav li.blog_nav_issues a {
	margin-left: 10px;
}

#blog .blog_nav li a:hover {
	color: #459BC9;
}
/* ------------------------------------------------------ */

/* Screenshots ------------------------------------------ */
#screenshots .hot_spot {
	cursor: default;
}
/* ------------------------------------------------------ */

.membership_closure_notice {
	background: url(../img/msc/bg-membership-closing-notice.jpg) no-repeat;
	width: 893px;
	height: 386px;
	margin: auto;
}

.membership_closure_notice .notice_text {
	padding: 80px 20px 0px 280px;
	color: #FFFFFF;
	font-weight: bold;
}

#about_game #content {
	padding: 5px 20px 22px 20px;
}
#about_game .about_closure_image {
	float: left;
	margin-right: 20px;
}