.login_btn{
	display:block;
	width:134px;
	height:36px;
	text-indent:-9999em;
	background: url(../images/buttons/login.gif) no-repeat left top;
}
.login_btn:hover{
	background-position: 0 -36px;
}
.read_more{
	display:block;
	height:31px;
	width:125px;
	text-indent:-9999em;
	background:url(../images/buttons/read-more-31.gif) left top no-repeat;
}
.read_more:hover{
	background-position: 0 -31px;
}
.page_num{
	float:left;
	display:block;
	height:17px;
	width:18px;
	color:#fff;
	text-align:center;
	margin:2px;
	_margin:1px;
	_position:relative;
	padding-top:1px;
	cursor:pointer;
	background: url(../images/buttons/pagination.gif) -94px 0 no-repeat;
}

.page_num.over,.page_select, .page_num:hover{
	background-position: -94px -18px;
}
.submit_btn{	
	display:block;
	width:134px;
	height:36px;
	text-indent:-9999em;
	background: url(../images/buttons/submit-36.gif) no-repeat left top;
}
.submit_btn:hover{
	background-position: 0 -36px;
}
.archive_btn{
	float:left;
	width:92px;
	height:26px;
	text-indent:-9999em;
	display:block;
	margin:0 0 10px 0;
	_margin:5px 0;
	background: url(../images/buttons/archive_btn.gif) left top no-repeat;
}